<form action="/request-pickup" enctype="multipart/form-data" method="post">
    <input class="choose-file-btn" type="file" name="myImage" multiple/>
    <input class="upload-btn" type="submit" value="Upload Photo" />
</form>